<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
</head>
<body>

	<div id="gameWindow">
		<div id="homePanel"      class="gamePanel" v-if="showPanel == 'homePanel'">

			<div class="panelSubmit hostGame" v-on:click=hostGame>Host Game</div>
			<input type="text"   id="joinGameInput" autocomplete="off" placeholder="Enter GameID"  v-model="textInput" v-on:keyup.enter="joinGame" />
			<div class="panelSubmit joinGame" v-on:click=joinGame>Join Game</div>
		</div>

		<div id="inputDraw"      class="gamePanel" v-else-if="showPanel == 'inputDraw'">
			<div id="drawPadPrompt">{{ drawPadPrompt }}</div>
			<div id="drawPad">
	    		<div class="drawPad--body">
					<canvas></canvas>
				</div>
			</div>
			<div class="panelSubmit" v-on:click=submitDrawing>Submit Drawing</div>
		</div>


		<div id="inputText"      class="gamePanel" v-else-if="showPanel == 'inputText'">
			<div id="inputText-picture">
				<img src="" id="inputText-picture-img" />
			</div>
			<input type="text"   id="inputTextField" autocomplete="off" placeholder="Describe what you see."  v-model="textInput" v-on:keyup.enter="submitText" />
			<div class="panelSubmit" v-on:click=submitText>Submit Description</div>
		</div>


		<div id="displayMessage" class="gamePanel" v-else-if="showPanel == 'displayMessage'">
		</div>
	</div>

    <script src="scripts/DrawPad.js"            ></script>
    <script src="scripts/Telestration-client.js"></script>
    <script src="scripts/Vue.js"                ></script>
	<script src="/socket.io/socket.io.js"       ></script>
	<script>
		var socket = io('/');
		socket.on('connect',    function(    ){ console.log('connect')    });
		socket.on('disconnect', function(    ){ console.log('disconnect') });
		socket.on('fail',       function(data){ console.error(data)       });
		socket.on('alert',      function(msg ){ alert(msg)                });


		socket.on('switchPanel',      function( panelID ){
			gameApp.showPanel = panelID
			if (panelID == 'inputDraw') {
				initCanvas()
			}
		});
		socket.on('setInputDrawPrompt',      function( newPrompt ){
			gameApp.drawPadPrompt = newPrompt;
		});

		gameApp.submitDrawing = function(){

		}
				initCanvas()

	</script>
</body>
</html>